/*Common CSS*/

@import url('https://fonts.googleapis.com/css?family=Khula:300,400,600,700,800');

@font-face {
  font-family: 'codeLight';
  src: url('assets/fonts/codeLight/codeLight.eot');
  src: url('assets/fonts/codeLight/codeLight.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('assets/fonts/codeLight/codeLight.woff2') format('woff2'), url('assets/fonts/codeLight/codeLight.woff') format('woff'), url('assets/fonts/codeLight/codeLight.ttf') format('truetype'), url('assets/fonts/codeLight/codeLight.svg#codeLight') format('svg');
  font-weight: normal;
  font-style: normal;
}


a:hover, a:focus {
    text-decoration: none;
    outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;  
    font-weight: 400;
    color: #373737;
        
}
img {
    max-width: 100%;
    height: auto;
}
body {
    font-family: 'Khula', sans-serif;
    font-size: 15px;
    line-height: 1.73;
    color: #999999;     
}

.section-padding {
    padding: 120px 0;
}
.section-title {
    margin-bottom: 100px;
}

input[type="text"], 
input[type="email"],
input[type="password"],
input[type="tel"],
input[type="url"],
textarea {
    border: 1px solid #efefef;
    padding: 12px 20px;
    width: 300px;
}

a.boxed-btn, input[type="submit"] {
  display: inline-block;
  background: #ef476f;
  color: #fff;
  font-weight: 400;
  padding: 12px 20px;
  border-radius: 3px;
  border: none;
  font-size: 14px;
}

/*
Header Area Style Goes Here
===========================
*/

.header-area {
  padding: 20px 0;
}
.mainmenu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.mainmenu li {
  display: inline-block;
}
.mainmenu li a {
  display: block;
  color: #888;
  padding: 12px 15px;
}
.mainmenu li.active a {
  color: #ef476f;
}



/*
Homepage Hero Area Style Goes Here
===========================
*/


.homepage-hero-area {
    border-bottom: 1px solid #f6f6f6;
    padding: 130px 0;
}
.hero-content {
    padding: 18px 0;
}

.hero-content h1 {
    font-size: 40px;
    margin: 0 0 25px;
    max-width: 450px;
}

.webpage-submitted-form input[type="submit"] {
    padding: 13px 20px;
}
.webpage-submitted-form {
    margin-top: 40px;
}


/*
Our Services Area Style Goes Here
===========================
*/

.single-service-item {
    border: 1px solid #f3f3f3;
    padding: 40px 25px;
    font-weight: 300;
    margin-bottom: 50px;
    transition: all 0.5s ease 0s;
}

.single-service-item h3 {
    font-size: 20px;
    margin: 30px 0;
    transition: all 0.5s ease 0s;
}

.single-service-icon {
    color: #231f20;
    font-size: 32px;
    line-height: 0;
    transition: all 0.5s ease 0s;
}
.single-service-item a.read-more-btn {
    color: #231f20;
    font-weight: 400;
    transition: all 0.5s ease 0s;
}
a.read-more-btn i.fa {
    font-weight: 300;
    padding-left: 7px;
}
.single-service-item:hover {
    border: 1px solid #ef476f;
}
.single-service-item:hover .single-service-icon, .single-service-item:hover h3, .single-service-item:hover a.read-more-btn {
    color: #ef476f;
}


.service-promo-area {
    padding-top: 60px;
}
.promo-content {
    padding: 60px 0;
}

.promo-content h2 {
    font-size: 28px;
    margin: 0 0 35px;
}
.promo-content p {
    line-height: 26px;
}
.promo-content a.boxed-btn {
    font-size: 15px
    line-height: 26px;
    margin-top: 30px;
    padding: 12px 45px;
}


.case-stydy-bg-01 {background-image: url(assets/img/case-study-bg-01.jpg);}
.case-stydy-bg-02 {background-image: url(assets/img/case-study-bg-02.jpg);}
.case-stydy-bg-03 {background-image: url(assets/img/case-study-bg-03.jpg);}
.case-stydy-bg-04 {background-image: url(assets/img/case-study-bg-01.jpg);}
.case-stydy-bg-05 {background-image: url(assets/img/case-study-bg-02.jpg);}


.case-study-area {
    background-color: #fbfbfb;
}
.single-case-studies {
    background-color: #ddd;
    background-position: center center;
    background-size: cover;
    border-radius: 10px;
    display: table;
    height: 320px;
    width: 100%;
    z-index: 1;
}
.case-study-overlay {
    background-color: #ef476f;
    border-radius: 10px;
    color: #fff;
    display: table-cell;
    opacity: 0;
    padding: 40px 20px;
    position: relative;
    text-align: center;
    transition: all 0.3s ease 0s;
    vertical-align: middle;
    visibility: hidden;
}
.case-study-overlay h3, .case-study-overlay h4 {
    color: #fff;
}
.case-study-overlay h3 {
    margin: 0 0 20px;
}
.case-study-overlay h4 {
    font-size: 17px;
    margin: 0 0 40px;
}
a.case-study-more {
    background: #fff none repeat scroll 0 0;
    border-radius: 50%;
    color: #333;
    display: inline-block;
    font-size: 18px;
    height: 40px;
    line-height: 44px;
    margin-top: 15px;
    width: 40px;
}
.single-case-studies:hover .case-study-overlay {
    opacity: 1;
    visibility: visible;
}
.case-studies-carousel.owl-carousel .owl-stage-outer {
    overflow: inherit;
}
.case-study-area {
    overflow-x: hidden;
}
.owl-dots div {
    background: #e2e2e2 none repeat scroll 0 0;
    display: inline-block;
    height: 3px;
    margin: 10px;
    width: 20px;
}
.owl-dots div.active {
    background: #ef476f none repeat scroll 0 0;
}
.owl-dots {
    margin-top: 30px;
    text-align: center;
}
.testimonial-content {
    color: #373737;
    font-size: 24px;
}
.single-testimonial-item {
    text-align: center;
}
.testimonial-meta img {
    border-radius: 50%;
    margin: 30px auto;
}
.testimonial-carousel.owl-carousel .owl-item .testimonial-meta img {
    width: 70px;
}
.testimonial-meta h4 {
    margin: 0 0 10px;
}
.testimonial-meta p {
    font-size: 14px;
    font-weight: 300;
}
.cta-area {
    background-color: #f8f8f8;
    padding: 65px 0;
}
.cta-area h2 {
    margin: 0;
    padding-top: 10px;
}

